#inputForm {
    padding-top: 100px;
}

.fTitle {
    padding-top: 50px;
    color: red
}

#submitBtn {
    margin-top: 20px;
}

body {
    background-color: black
}

#inputForm {
    color: white
}

#visualizeStrawberries {
    color: white
}

.padding-top-50 {
    padding-top: 50px;
}

.btn-success {
    height: 5px;
    width: 5px;
}

.btn-danger {
    height: 5px;
    width: 5px;
}

#dummy-btn{
    margin-right: 32px;
    color:black;
    background-color:black;
    border-color:black;
}

.rDot {
    height: 2.5px;
    width: 2.5px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

  .gDot {
    height: 2.5px;
    width: 2.5px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }
  .clear {
    clear: both;
}

#visualizeStrawberries{
    padding-bottom:100px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(odd) {
    background-color: grey;
  }
  tr:nth-child(1) {
    background-color: purple;
  }
